.header{
    height: 4.68rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.header__h1{
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header__button--login{
    width: 4rem;
    height: 2rem;
    margin-right: 2rem;
    border-radius: 0.3rem;
    border: 1px solid black;
    background-color: rgb(243, 243, 243);
    font-size: 1rem;
    cursor: pointer;
    transition: all 300ms;
}

.header__button--login a{
    text-decoration: none;
    color: black;
}

.header__button--login:hover{
    background-color: rgb(136, 136, 136);
    color: white;
    text-transform: uppercase;
}