
.main__section{
    height: 75%;
    display: flex;
    margin-bottom: 1rem;
}

.articles__div{
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #ccc;
}

.section__article:last-child{
    border-bottom: none;
}

.section__article{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0.1rem;
    margin-right: 0.1rem;
    border-bottom: 1px solid #ccc;
}

.article__button__see{
    width: 5rem;
    height: 2rem;
    margin-top: 1rem;
    border: 1px solid black;
    background-color: rgb(243, 243, 243);
    font-size: 1rem;
    cursor: pointer;
}

.article__button__see:hover{
    background-color: rgb(136, 136, 136);
    color: white;
}

.aside{
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aside__navbar{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.navbar__list{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar__elements{
    width: 50%;
    text-align: center;
    margin-bottom: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid rgb(230, 230, 230);
    cursor: pointer;
}

.form__createPost{
    height: 100%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.input__titlePost{
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 2rem;
    font-size: 1rem;
    text-align: center;
    outline: none;
    border: 1px solid black;
}

.textarea__postContent{
    height: 10rem;
    font-size: 1.5rem;
    resize: none;
    outline: none;
    border: 1px solid black;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
}

.button__createPost{
    height: 2rem;
    border: 1px solid black;
    background-color: rgb(46, 46, 46);
    color: white;
    font-size: 1rem;
    cursor: pointer;
}